.contact-wrapper{
    width: 50%;
    height: auto;
    border: 1px solid #b7b7b7;
    padding: 2rem;
    margin: 40px 0 40px 0;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
    border-radius: 10px;
}

.formContact{
    margin-top:2.5%;
}

.commentArea{
    display:flex;
    flex-direction: column;
    margin-left:2%;
}

.txtcontact{
    width: 81%;
    height : 200px;
    resize: none;
    overflow-y: auto;
}