@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.header{
    /*background: url("../../../public/logoHNew_bis.jpg") no-repeat center !important;*/
    /*height:500px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header img {
    width: 100%;
}

.headerTitle{
    position: absolute;
    padding-left: 60px;
    font-family: 'Trebuchet MS';
    font-size:100px;
}

.headerTitle a, .headerTitle a:hover{
    text-decoration: none;
    color: #111111;
}

.subHeaderTitle{
    position: absolute;
    top:40%;
    left:45%;
    font-family: 'Open Sans';
}

@media screen and (min-width: 960px) and (max-width: 1120px) {
    #header {width: 960px;}
}

/*@media screen and (max-width: 1000px) {*/
/*    #header {width: 90%}*/
/*}*/