@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.header{
    background: url("../../../public/logoHNew_bis.jpg") no-repeat center !important;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.headerTitle{
    padding-left: 80px;
    font-family: 'Kalam';
    font-size:100px;
}

.headerTitle a, .headerTitle a:hover{
    text-decoration: none;
    color: #111111;
}

.subHeaderTitle{
    position: absolute;
    top:40%;
    left:45%;
    font-family: 'Open Sans';
}