#signup {

    background-color: blue;
}

.signup-wrapper{
    width: 50%;
    height: auto;
    border: 1px solid #b7b7b7;
    padding: 2rem;
    margin: 40px 0 40px 0;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
    border-radius: 10px;

}

.signup-form{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-left: 50px;
    width: 100%;

}


/*@media all and (min-width: 480px) {*/
/*    .Login {*/
/*        padding: 60px 0;*/
/*    }*/

/*    .Login form {*/
/*        margin: 0 auto;*/
/*        max-width: 320px;*/
/*    }*/
/*}*/