#subArticle {
    /*width: calc(80% / 3);*/
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: left;
    margin-left: 4.4%;
}

#subArticle .articleImg {
    width: 100%;
    aspect-ratio: 16/10;
    border : 1px solid black;
}

#subArticle .articleText {
    width: 100%;
    text-align: justify;
}

#subArticle h2 {
    margin-top: 5px;
}

#subArticle h5 {
    float: right;
    cursor: pointer;
}

.displaySubArt{
    width: 210px;
    height: 380px;
    border : none !important;
    margin-top: 10px;
    margin-bottom: 50px;
}

.displaySubArt .card-body {
    padding : 1.25rem 0 0 0 !important;
}

.displaySubArt .card-title {
    font-size : 18px;
}

.displaySubArt .card-text {
    font-size: 15px;
}

.displaySubArt .card-subtitle{
    font-size: 12px;
}

.displaySubArt .card-img-top{
    transition: transform .2s; /* Animation */
    cursor: pointer;
}

.displaySubArt .card-img-top:hover{
    transform: scale(1.1);
}

.dropdown-share .dropdown-item{
    display: flex !important;
    flex-direction: row !important;
}

.dropdown-share{
    position: absolute !important;
    margin-left: 166px;
    background-color: transparent;
    bottom: 266px;
}

.dropdown-share .dropdown-toggle{
    background-color: transparent !important;
    border: none !important;
}

.dropdown-share .dropdown-toggle::after{
    display:none !important;
}

.dropdown-share .dropdown-menu{
    background-color: transparent !important;
    border: none;
    min-width: 0.5rem !important;
}

.dropdown-share .dropdown-item:hover{
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 60px !important;
}

.dropdown-share .dropdown-item {
    padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 850px) { 
    #subArticle {width: calc(85% / 2)}
}

@media screen and (max-width: 580px) { 
    #subArticle {width: 90%}
}