.article {
    width: 1080px;
    min-height: 100%;
    top:10px;
    background-color: white;
    /*border-right : 1px solid #c4c2c2 !important;*/
    /*border-left : 1px solid #b7b7b7 !important;*/

}

.contentPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.articleHead{
    margin-left: 135px;
}

.articleTitle {
    font-size: 35px;
    font-weight: bold;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.articleDateInfo {
    font-size: 13px;
    margin-bottom: 2.5%;
}

.articleImage {
    width: 75%;
    aspect-ratio: 2;
}

.articleContent {
    font-size: 20px;
    width: 75%;
    margin-top: 2.5%;
    text-align: justify;
    margin-bottom: 5%;
}

.articleAuthor {
    font-size: 20px;
    margin-top: 2.5%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    text-align: right;
}

.categoryArt{
    margin-top: 50px;
    text-transform: capitalize;
}

.categoryArt a {
    color: black;
    text-decoration: none;
}

.categoryArt a:hover{
    color: dodgerblue;
}

.artDiscovery span, .commentSection span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px 0px 15px;
}

.artList .miniature {
    padding : 35px;
}

.artList{
    display: flex;
    justify-content: center;
}

.artList .card{
    border: none
}

.artList .card-body{
    text-align: justify;
}

.artList .card-title a{
    text-decoration: none;
    color: black;
}

.artList .card-title{
    font-size: 17px;
    margin-left: -20px;
}

.artList .card-subtitle{
    margin-left: -20px;
    font-weight: normal;
    font-size: 12px;
}

.artList .card-img-top{
    transition: transform .2s; /* Animation */
}

.artList .card-img-top:hover{
    transform: scale(1.1);
}


.article hr {
    width:75%;
}


.commentSection, .zoneCom, .displayCommentsSection{
    display: flex;
    flex-direction: column;
}

.zoneCom, .displayCommentsSection{
    margin-left: 13%;
}

.nameComment, .txtcomment{
    width:50%;
    margin: 2px 0px 10px;
}

.txtcomment{
    height : 100px;
    resize: none;
    overflow-y: auto;
}

.btn-submitCom{
    width:15%;
    padding: 13px;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

.displayCommentsSection{
    margin-top: 5%;
}

.numberOfComments{
    font-weight: bold;
    font-size: 15px;
    padding-bottom : 25px;
}

#userAvatar{
    border-radius: 50px;
    height: 90px;
    width : 90px;
}

.comment{
    display: flex;
    flex-direction: row;
    padding : 20px;
    word-wrap: break-word;
    width : 80%;
}

.userInfosComment{
    margin-left: 30px;
}

#styleUserName{
    margin-bottom: 1px;
    font-weight: bold;
}

#dateCom{
    font-size: 12px;
}

.heartFavIcon{
    display: flex;
    margin-left: 780px;

}


@media screen and (min-width: 960px) and (max-width: 1120px) { 
    #article {width: 960px;}
    #article .articleTitle {font-size: 30px;}
    #article .articleDate {font-size: 20px;}
    #article .articleImageDesc {font-size: 20px;}
    #article .articleContent {font-size: 20px;}
    #article .articleAuthor {font-size: 20px;}
}

@media screen and (min-width: 700px) and (max-width: 1000px) { 
    #article {width: 90%}
    #article .articleTitle {font-size: 30px;}
    #article .articleDate {font-size: 20px;}
    #article .articleImageDesc {font-size: 20px;}
    #article .articleContent {font-size: 20px;}
    #article .articleAuthor {font-size: 20px;}
}

@media screen and (max-width: 700px) { 
    #article {width: 90%}
    #article .articleTitle {font-size: 20px;}
    #article .articleDate {font-size: 15px;}
    #article .articleImageDesc {font-size: 15px;}
    #article .articleContent {font-size: 15px;}
    #article .articleAuthor {font-size: 15px;}
}