#articles {
    width: 1080px;
    min-height: 1000px;
    background-color: rgb(255, 255, 255, .4);
}

.textTitle{
    width: 800px;
    height:66px;
    margin-bottom: 60px;
    padding-top: 30px;
}

.tabsCustom{
    border-bottom: 1px solid black;
}

.tabsCustom .nav-link{
    color: black;
}

.tabsCustom .nav-link.active{
    background-color:transparent !important;
    color: #993333 !important;
    border-bottom: 3px solid #993333 !important;
}

.tabsCustom .nav-link:hover {
    color: #993333 !important;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

#banner{
    background: url("../../../public/hairBanner.png") no-repeat;
    height:280px;
    width:1080px;
}

#textBanner{
    position: absolute;
    top: 25%;
    left: 50%;
    font-family: "MV Boli";
}

.textTitle{
    padding-bottom: 50px;
    font-family: "Helvetica";
    font-size:1rem;
    line-height: 22px;
}