.article {
    width: 1080px;
    min-height: 1000px;
    background-color: white;
}

.contentPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.articleHead{
    margin-left: 135px;
}

.articleTitle {
    font-size: 35px;
    font-weight: bold;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.articleDateInfo {
    font-size: 13px;
    margin-bottom: 2.5%;
}

.articleImage {
    width: 75%;
    aspect-ratio: 2;
}

 .articleContent {
    font-size: 20px;
    width: 75%;
    margin-top: 2.5%;
    text-align: justify;
}

.articleAuthor {
    font-size: 20px;
    margin-top: 2.5%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    text-align: right;
}

.categoryArt{
    margin-top: 50px;
}

.categoryArt a {
    color: black;
    text-decoration: none;
}

.categoryArt a:hover{
    color: dodgerblue;
}


@media screen and (min-width: 960px) and (max-width: 1120px) { 
    #article {width: 960px;}
    #article .articleTitle {font-size: 30px;}
    #article .articleDate {font-size: 20px;}
    #article .articleImageDesc {font-size: 20px;}
    #article .articleContent {font-size: 20px;}
    #article .articleAuthor {font-size: 20px;}
}

@media screen and (min-width: 700px) and (max-width: 1000px) { 
    #article {width: 90%}
    #article .articleTitle {font-size: 30px;}
    #article .articleDate {font-size: 20px;}
    #article .articleImageDesc {font-size: 20px;}
    #article .articleContent {font-size: 20px;}
    #article .articleAuthor {font-size: 20px;}
}

@media screen and (max-width: 700px) { 
    #article {width: 90%}
    #article .articleTitle {font-size: 20px;}
    #article .articleDate {font-size: 15px;}
    #article .articleImageDesc {font-size: 15px;}
    #article .articleContent {font-size: 15px;}
    #article .articleAuthor {font-size: 15px;}
}