#subArticle {
    width: calc(80% / 3);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: left;
    margin-left: 5%;
}

#subArticle .mainArticleImg {
    width: 100%;
    aspect-ratio: 16/10;
}

#subArticle .mainArticleText {
    width: 100%;
    text-align: justify;
}

#subArticle h2 {
    margin-top: 5px;
}

#subArticle h5 {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 1000px) { 
    #subArticle .mainArticleImg {width: 100%}
    #subArticle .mainArticleText {width: 100%}
}