.pageSection{
    width: 1080px;
    height: 100%;
}

@media screen and (min-width: 960px) {
    .textTitle {
        width : 800px;
    }
    #banner{
        margin-top : 15px;
    }
}

@media screen  and (max-width: 1120px) {
   .pageSection{width: 90%;}
    #banner {
        margin-top: 30px;
    }
}

.tabsCustom{
    border-bottom: 2px solid black;
}

.tabsCustom .nav-link{
    color: black;
}

.tabsCustom .nav-link.active{
    background-color:transparent !important;
    color: #993333 !important;
    border-bottom: 3px solid #993333 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.tabsCustom .nav-link:hover {
    color: #993333 !important;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hairBanner {
    background: url("../../../public/hairBanner.png") no-repeat !important;
    height: 280px;
}

#textBanner{
    position: absolute;
    padding-left: 200px;
    font-family: "MV Boli";
}

.textTitle{
    height:66px;
    padding : 30px 0 80px 5px;
    font-family:"Renner*",Helvetica,sans-serif !important;
    font-size:1rem;
    line-height: 22px;
    letter-spacing: .7px;
    font-weight:bold;
    text-align: center;
    margin-left: 13%;
    font-style: italic;
}

.tabFilter .card-title{
    font-family:"Helvetica" !important;
    font-weight:bold;
    font-size:17px;
}

.tabFilter .card-subtitle{
    font-family:"Helvetica" !important;
    font-weight: lighter;
    font-size:12px;
}

.tabFilter .card{
    width: 210px;
    min-height: 100px;
    border : none !important;
    margin-bottom: 10px;
}

.tabFilter .card-text{
    font-size: 15px;
}

.tabFilter .card-body {
    padding : 1.25rem 0 0 0 !important;
    text-align: justify;
    height: 200px;
}

.tabFilter .card-img-top{
    transition: transform .2s; /* Animation */
    cursor: pointer;

}

.tabFilter .card-img-top:hover{
    transform: scale(1.1);
}

.tab-content>.active {
    display: flex !important;
    flex-direction: row;
    gap : 35px;
    flex-wrap :wrap;
}

.tabFilter .dropdown-share{
    position:absolute !important;
    margin-left: 133px !important;
}

.tabFilter .dropdown-toggle:hover{
    color: black !important;
}

.tabFilter .dropdown-menu{
    margin-left: 30px !important;
}

.tabFilter .btn{
    width: 107px;
}

.tabFilter {
    margin-top: 25px;
}