#articles {
    width: 1080px;
    min-height: 1000px;
    background-color: rgb(255, 255, 255, .4);
}

.textTitle{
    width: 800px;
    height:66px;
    margin-bottom: 60px;
    padding-top: 30px;
}

.tabsCustom{
    border-bottom: 2px solid black;
}

.tabsCustom .nav-link{
    color: black;
}

.tabsCustom .nav-link.active{
    background-color:transparent !important;
    color: #993333 !important;
    border-bottom: 3px solid #993333 !important;
}

.tabsCustom .nav-link:hover {
    color: #993333 !important;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

#banner{
    background: url("../../../public/hairBanner.png") no-repeat;
    height:280px;
    width:1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#textBanner{
    padding-left: 200px;
    font-family: "MV Boli";
}

.textTitle{
    /*padding-bottom: 50px;*/
    padding : 15px 0 50px 5px;
    font-family:"Renner*",Helvetica,sans-serif !important;
    font-size:1rem;
    line-height: 22px;
    letter-spacing: .7px;
    font-weight:bold;
}

.tabFilter .card-title{
    font-family:"Helvetica" !important;
    font-weight:bold;
    font-size:17px;
}

.tabFilter .card-subtitle{
    font-family:"Helvetica" !important;
    font-weight: lighter;
    font-size:12px;
}

.tabFilter .card{
    width: 210px;
    min-height: 100px;
    border : none !important;
}

.tabFilter .card-text{
    font-size: 15px;
}

.tabFilter .card-body {
    padding : 1.25rem 0 0 0 !important;
    text-align: justify;
}

.tabFilter .card-img-top{
    transition: transform .2s; /* Animation */
}

.tabFilter .card-img-top:hover{
    transform: scale(1.1);
}

.tab-content>.active {
    display: flex !important;
    flex-direction: row;
    gap : 35px;
    flex-wrap :wrap;
}
