/* 1 */
:root {
    --font-color: black;
    --background-color: white;
    --link-color: cornflowerblue;
    --nav-link-active-color:#993333;
    --bg-footer : #B25D3E;
    --input-color: white;
    --btn-color-hover:black;
    --navBar-color : white;
    --border-color-cadre : 2px solid #B25D3E;
    --share-toogle : #B25D3E;
    --navbar-bg-color : white;
}

/* 2 */
[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #1A1C20;
    --link-color: lightblue;
    --art-bg-color: white;
    --input-color: #333333;
    --navBar-color : #111111;
    --nav-link-active-color:#ca9b52;
    --bg-footer : #421e13;
    --btn-color-hover:#ca9b52;
    --border-color-cadre: 2px solid #ca9b52 ;
    --share-toogle : #ca9b52;
    --navbar-bg-color : #0A0B0C;
}

/* 3 */
body, #home, .card-body,.article, .search-page, .section-central{
    background-color: var(--background-color);
    color: var(--font-color);
}

.navbar{
    background-color: var(--navbar-bg-color) !important;
    color: var(--font-color);
}

.categoryArt a,.cgu-content h1 {
    color: var(--font-color);
}
.card-title a{
    color: var(--font-color)!important;
}

.btn:hover{
    background-color: var(--btn-color-hover);
}

h1, .subHeaderTitle{
    color: #111111;
}

.bg-white{
    background-color: var(--navBar-color)!important;
    color: var(--font-color);
}
.bs-search, .tabsCustom .nav-link, #navBar .nav-link, .about-content h1 {
    color: var(--font-color);
}

.nav-tabs, .btn, .navbar-light .navbar-toggler, .article hr, #home hr{
    border-color: var(--font-color);
}

input, textarea{
    border-color: var(--font-color);
    background-color: var(--input-color);
    color: var(--font-color);
}

.form-control, .form-control:focus{
    background-color: var(--input-color) !important;
    color: var(--font-color)!important;

}

.tabsCustom .nav-link.active{
    background-color: var(--background-color)!important;
    color: var(--nav-link-active-color)!important;
    border-bottom-color: var(--nav-link-active-color)!important;
}

.tabsCustom .nav-link:hover{
    color: var(--nav-link-active-color)!important;

}

.contact-wrapper, .login-wrapper, .signup-wrapper, .profile-wrapper{
    background-color: var(--background-color)!important;
    box-shadow: 0 6px 6px rgba(232,232,232, 0.4) !important;
}

.footer-container{
    background-color: var(--bg-footer)!important;
}

a {
    color: var(--link-color);
}

.displaySubArt .card-img-top:hover, .tabFilter .card-img-top:hover, .artList .card-img-top:hover {
    border: var(--border-color-cadre) ;
}

.dropdown-share .dropdown-toggle{
    color: var(--share-toogle);
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 5px;
}

.toggle-theme-wrapper span {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom : 7px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 50px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 14px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 14px;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color: cornflowerblue;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}