#profile-wrapper {
    width: 70%;
}

.profile-pic{
    position: relative;
    width: 100px;
    height: 100px;
}

.profile-pic > img{
    border : 2px solid black;
    border-radius: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.profile-pic > Button {
    border-radius: 50px;
    position: absolute;
    /*top:30px;*/
    /*right: 25px;*/
    bottom:0;
    right: 0;
    background-color: white;
}

.welcome-zone{
    display: inline-block;
    width: 70%;
    /*height: 100px;*/
}

.welcome-text{
    position: absolute;
    right: 0;
}


.fav-zone .miniature {
    padding : 35px;
}

.fav-zone{
    display: flex;
    justify-content: center;
}

.fav-zone .card{
    border: none
}

.fav-zone .card-title a{
    text-decoration: none;
    color: black;
    margin-left: -20px;
}

.fav-zone .card-subtitle{
    margin-left: -20px;
    font-weight: normal;
    font-size: 12px;
}