#article {
    width: 1080px;
    height: 100%;
    background-color: rgb(255, 255, 255, .4);
}
@media screen and (min-width: 960px) and (max-width: 1120px) { 
    #article {width: 960px;}
}

@media screen and (max-width: 1000px) { 
    #article {width: 90%}
}