#subArticle {
    /*width: calc(80% / 3);*/
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float: left;
    margin-left: 5%;
}

#subArticle .articleImg {
    width: 100%;
    aspect-ratio: 16/10;
    border : 1px solid black;
}

#subArticle .articleText {
    width: 100%;
    text-align: justify;
}

#subArticle h2 {
    margin-top: 5px;
}

#subArticle h5 {
    float: right;
    cursor: pointer;
}

.displaySubArt{
    width: 210px;
    height: 420px;
    border : none;
    margin-top: 10px;
}

@media screen and (max-width: 850px) { 
    #subArticle {width: calc(85% / 2)}
}

@media screen and (max-width: 580px) { 
    #subArticle {width: 90%}
}