#mainArticle {
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    flex-wrap: wrap;
    display: flex;
    margin-left: 5%;
}

#mainArticle .mainArticleImg {
    width: 55%;
    aspect-ratio: 16/10;
    float: left;
    margin-right: 5%;
}

#mainArticle .mainArticleText {
    width: 40%;
    float: left;
    text-align: justify;
}

#mainArticle h2 {
    margin-top: 5px;
}

#mainArticle h5 {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 1000px) { 
    #mainArticle .mainArticleImg {width: 100%}
    #mainArticle .mainArticleText {width: 100%}
}