.footer-container{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #B25D3E;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:row;
    color: white;
}

.box1{
    width: 20%;
}

.box2 > ul, .box3 > ul{
    list-style-type: none;
}
.footer-menus{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.box2 > li{
    display: inline-block;
}

.footer-menus a:link{
    color: white;
    text-decoration: none;
}

.footer-menus a:hover{
    color: #C39A7E;
    text-decoration: underline;
}

#submitBtn {
    color: white;
    border: 1px solid white;
    margin-left: -10px;
}

#submitBtn:hover{
    color:black;
    background-color: white;
}