.signup-wrapper{
    width: 30%;
    height: auto;
    border: 1px solid #b7b7b7;
    padding: 2rem;
    /*margin: 40px 0 40px 0;*/
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
    border-radius: 10px;

}

@media screen and (min-width: 960px){
    .signup-wrapper{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .input-group-signup label, .signup-subtitle, .signup-wrapper span{
        font-size : 16px;
    }
    .signup-title, .signup-wrapper .btn{
        font-size : 20px;
    }
    .subscribeBox-label{
        margin-left: 6%;
    }
}

@media screen  and (max-width: 1120px){
    .signup-wrapper{
        margin-top: 80px;
    }
    .input-group-signup label, .signup-subtitle, .signup-wrapper span{
        font-size : 14px;
    }
    .signup-title, .signup-wrapper .btn{
        font-size : 17px;
    }
    .subscribeBox-label{
       padding-top:2.5px;
       padding-left: 6%;
    }

}

.signup-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom : 20px;
    font-weight: bold;
}

.signup-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom : 20px;
}

.input-group-signup{
    position: relative;
    display: flex;
    flex-direction: column;
}


.input-name-set,.input-prenom, .input-email,
.input-password-set, .input-password-confirm{
    padding: 10px;
    background-color: transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    height: 35px;
    z-index: 100;
}

.input-label-email-set,.input-label-password-set,.input-label-name,.input-label-prenom,.input-label-password-confirm{
    position: absolute;
    left: -10px;
    transform: translate(10px,10px);
    transition: transform .25s;
    padding-left : 5px;
    padding-right : 5px;
}

.input-label-name{
    top:0;
}
.input-label-prenom{
    top:55px;
}

.input-label-email-set{
    top:110px;
}

.input-label-password-set{
    top:165px;
}

.input-label-password-confirm{
    top:220px;
}

.input-name-set:focus+.input-label-name,
.input-prenom:focus+.input-label-prenom,
.input-email:focus+.input-label-email-set,
.input-password-set:focus+.input-label-password-set,
.input-password-confirm:focus+.input-label-password-confirm{
    transform: translate(10px , -14px) scale(.85);
    color: #ca9b52;
    padding-inline: 5px;
}

.input-name-set:is(:focus, :valid),.input-prenom:is(:focus, :valid),
.input-email:is(:focus, :valid), .input-password-set:is(:focus, :valid),
.input-password-confirm:is(:focus, :valid){
    border: 2px solid #C39A7E;
    border-radius: 4px;
    outline: none;
    z-index: 0;
}

#subscribeBox{
    position: absolute;
    margin-top: 292px;
}
.subscribeBox-label{
    margin-left: 6%;
}

.signup-wrapper a{
    color: #ca9b52;
}

.signup-wrapper .btn{
    margin-top: 30px;
    margin-bottom: 10px;
}

.subscribeBox-label{
    margin-top: 10px;
}