#signup {

    background-color: blue;
}

.signup-wrapper{
    width: 50%;
    height: auto;
    border: 1px solid #b7b7b7;
    padding: 2rem;
    margin: 40px 0 40px 0;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
    border-radius: 10px;

}

.signup-form{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-left: 50px;
    width: 100%;

}

.signup-form .form-group{
    position: relative;
}

.signup-form .form-control{
    padding: 10px;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
}

.signup-wrapper span {
    margin-left: 60px;
}

#subscribeBox{
    margin-top: 7px;
}