.profile-wrapper {
    width: 60%;
    height: auto;
    border: 1px solid #b7b7b7;
    padding: 2rem;
    margin: 40px 0 40px 0;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
    border-radius: 10px;
}

.profile-pic{
    position: relative;
    width: 100px;
    height: 100px;
}

.profile-pic > img{
    border : 2px solid black;
    border-radius: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.profile-pic > Button {
    border-radius: 50px;
    position: absolute;
    /*top:30px;*/
    /*right: 25px;*/
    bottom:0;
    right: 0;
    background-color: white;
}

.welcome-zone{
    display: inline-block;
    width: 70%;
    /*height: 100px;*/
}

.welcome-text{
    position: absolute;
    margin-left: 175px;
    margin-top : -71px;
    font-size: 30px;
    font-weight: bold;

}

.edit-profile-zone .form-check{
    margin-left: 15px;
}

.edit-profile-zone .form-group .col{
    margin-bottom: 10px;
}

#subscribeBoxProfile{
    margin-top: 7px;
}

.fav-zone .card{
    border: none
}

.fav-zone .card-title a{
    text-decoration: none;
    color: black;
    margin-left: -20px;
}

.fav-zone .card-subtitle{
    margin-left: -20px;
    font-weight: normal;
    font-size: 12px;
}

.fav-zone span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px 0px 15px;
    gap:10px;
}

.fav-zone-art{
    display: flex;
    flex-flow: row wrap;
    gap:15px;
}

.fav-zone-art .card{
    width: 210px;
    height: 350px;
}

.fav-zone-art .card-img-top{
    transition: transform .2s; /* Animation */
    cursor: pointer;
}

.fav-zone-art .card-img-top:hover{
    transform: scale(1.1);
}

.fav-zone-art .card-title {
    font-size : 18px;
}

.fav-zone-art .card-text {
    font-size: 15px;
}

.fav-zone-art .card-subtitle{
    font-size: 12px;
}

@media screen and (max-width: 1142px){
    .fav-zone-art .card{
        width: 200px ;
        min-height: 100px;
    }
    .welcome-text{
        font-size:3vw;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        width: 30vw;
        margin-left: 22vw;
    }
}